<nav class="academia-menu card">
  <a href="/academia" class="<%= activeAcademiaSection==='index'?'is-active':'' %>">Visão Geral</a>
  <a href="/academia/trilhas" class="<%= activeAcademiaSection==='trilhas'?'is-active':'' %>">Trilhas de Conhecimento</a>
  <a href="/academia/cursos" class="<%= activeAcademiaSection==='cursos'?'is-active':'' %>">Cursos</a>
  <a href="/academia/minhas-aulas" class="<%= activeAcademiaSection==='minhas-aulas'?'is-active':'' %>">Minhas Aulas</a>
  <a href="/academia/avaliacoes" class="<%= activeAcademiaSection==='avaliacoes'?'is-active':'' %>">Avaliações</a>
  <a href="/academia/certificados" class="<%= activeAcademiaSection==='certificados'?'is-active':'' %>">Certificados</a>
  <a href="/academia/ranking" class="<%= activeAcademiaSection==='ranking'?'is-active':'' %>">Ranking Técnico</a>
  <a href="/academia/biblioteca" class="<%= activeAcademiaSection==='biblioteca'?'is-active':'' %>">Biblioteca Técnica</a>
  <a href="/academia/professor-ia" class="<%= activeAcademiaSection==='professor-ia'?'is-active':'' %>">Professor IA</a>
</nav>
